<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <!-- Link to Google Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="src/prism/prism.css">
    

</head>
<body>
    <my-index></my-index>

   <script src="src/prism/prism.js" defer></script>
   <script src="/src/javascript/index.js"></script>
</body>
</html>
